ul {
	display: flex;
	justify-content: space-between;
	align-items: justify;
	background-color: #fbff00;
	padding: 10px;
	border-radius: 5px;
	list-style: none;
}
  
li,i{
    padding: 10px 25px;
}

  